
.title{
    font-weight: 600;
    font-size: 19px;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
    color: #6b7280;
}

.settings{
    margin-top: 120px;
}

.container{
    margin-top: 130px;
}

@media only screen and (max-width: 900px) {
    .settings {
        margin-top: 80px !important;
    }
    
    .container {
        margin-top: 80px;
    }
    
    .title {
        font-size: 17px;
    }
    
    .service_name {
        font-size: 20px;
    }
    
    .service_icon {
        width: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        filter: grayscale(100%) brightness(0.5) opacity(0.65);
    }
}
.service_icon{
    width: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    filter: grayscale(100%) brightness(0.5) opacity(0.65);
}

.service{
    grid-template-columns: 8% 77% 15%;
}
